

table.memname  {
   border-spacing: 0;   /* Remove annoying psuedo-spaces in method signature */
}

/*
   Cause function params to all be contained on a single line rather than broken over multiple lines
   But ignore those marked with the nofloat class
*/
table.memname tr:not(.nofloat) {
   float:left;
}

table.memname td {
   padding: 0;
}


td.mdescRight a:not(.el) {
   font-size: x-small;        /* Applies to the [details] links in class definitions */
}

span.argtypes {
   padding-left: 8px;         /* Indent the "Arg types" line a bit */
}

/* Styling for the inherited links over a the right */
span.mlabels a {
   background-color: #728DC1;
   border-top:1px solid #5373B4;
   border-left:1px solid #5373B4;
   border-right:1px solid #C4CFE5;
   border-bottom:1px solid #C4CFE5;
   text-shadow: none;
   color: white;
   margin-right: 4px;
   padding: 3px 4px 5px;      /* Top, left/right, bottom */
   border-radius: 3px;
   font-size: 7pt;
   white-space: nowrap;
   vertical-align: middle;
   text-decoration: underline;
}
span.mlabels a:visited {
   color: white;
}

/* Parameter lists in function documentation */
.argline span.argtypes {
   /* font-style: italic; */
   font-size: smaller;
}
.argline span.paramname {
   color: black;
}
.argline span.paramtype {

}
.argline span.returntype {

}